.header {
    background-image: url("Images/headphones_hero_1.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
  }
  
  .header .container .header-logo img{
       margin-left: 180px;
       margin-top: 20px;
  }
  
  .header .container {
       display: flex;
       justify-content: space-between;
  }
  
  .header .container .nav {
       display: flex;
       justify-content: center;
       gap: 10px;
       padding: 0 50px;
       margin: 35px 20px;
  }

  .header .container .nav a {
       text-decoration: none;
  }

  .header .section-inner {
       margin: 0 auto;
       text-align: center;
       color: white;
  }

  .header .section-inner .section-title {
       margin-top: 105px;
  }

  .header .section-inner p {
       margin-top: -15px;
  }

  .header .section-inner button {
       background: orangered;
       border-radius: 20px;
       color: white;
       padding: 10px;
       margin-top: 15px;
  }

  .header .section-inner .para {
      width: 400px;
      margin: 80px auto;
      text-align: center;
  }

  section .one {
      margin: 30px auto;
      text-align: center;
      width: 50%;
  }

  section .two {
    margin: 0 auto;
    width: 60%;
    text-align: center;
    display: flex;
    justify-content: space-around;
  }

  section .three {
    margin: 30px auto;
    text-align: center;
    width: 50%;
    display: flex;
  }

  section .four {
    margin: 0 auto;
    text-align: center;
  }


  @media screen and (max-width: 500px){
       body{
            background: red;
       }
       .header .container .header-logo img {
            font-size: 2px;
            display: block;
            margin: 0 auto;
            text-align: center;
       }
       .header .container {
            display: block;
       }
       .header .section-inner .section-title {
            font-size: 20px;
       }
       .header .section-inner p {
            font-size: 12px;
       }
       .header .section-inner .para {
            font-size: 12px;
        }
        section .two {
            display: block;
        }
  } 