.header {
    background-image: url("Image/Object.png");
    background-size: cover;
    background-position: center;
    height: 193vh;
}

  .header .one {
    display: flex;
    justify-content: space-between;
  }

  .header .one .header-logo img {
    margin-top: 20px;
    margin-left: 180px;
  }

  .header .one .navbar-menu {
    margin: 20px;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 0 50px;
    color: white;
  }

  .hero .hero-sect {
    text-align: center;
    color: #fff;
    font-style: normal;
  }

  .hero .hero-sect .title{
    margin: 20px auto;
    font-size: 120px;
  }

  .hero .hero-sect .sub-title{
    /* display: flex;
    justify-content: space-around;
    margin-top: -140px;
    font-size: 16px;
    margin-left: 2px; */
    display: flex;
    justify-content: space-around;
    width: 25%;
    margin: 0 auto;
    text-align: center;
    margin-top: -130px;
  }

  .hero .hero-sect button {
    border-radius: 22px;
    background: #C271FF;
    width: 168px;
    height: 44px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    margin-top: 25px;
  }

  .hero .hero-sect .text {
    margin-top: 180px;
    font-size: 32px;
  }

  .hero .hero-sect .text p .learn {
    color: #C271FF;
  }

.hero .hero-sect .images {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 95px 180px;
}

.hero .hero-sect .images .imgc img {
    border-radius: 50%;
}

.hero .hero-sect .images h6 {
    margin: -15px;
}

.quote {
  background-color: #C271FF;
  background-position: center;
  color: #fff;
  height: 392px;
}

.quote .quote-sect {
 
}

.quote .quote-sect {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.quote .quote-sect .imge {
  margin-left: 200px;
  margin-top: 120px;
}
  .quote .quote-sect .imge img {
  width: 130px;
}

.quote .quote-sect .para {
  margin-left: 80px;
  margin-top: 120px;
}