.header {
    background-image: url("Image/Object.png");
    background-size: cover;
    background-position: center;
    height: 193vh;
}

  .header .header-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }



