body
{
    border: 3px solid black;
    height: 350vh;
    padding: 10px;
    display: flex
    flex: column;
}

header
{
    border: 2px solid black;
    height: 50px;
    margin-bottom: 10px;
}

header div
{
    border: 1px solid grey;
    /*height:inherit;*/
    display: flex;
    padding: 5px;
    justify-content: space-between;
}

header div div
{
    border: 1px solid red;
    border-radius: 5px;
    width: 250px;
}

header div div a
{
    border: 1px solid green;
    width: inherit;
    display: flex;
    justify-content: space-between;
}
main
{
    border:2px solid black;
    height: 250vh;
    display: flex;
    flex: row;
    flex: auto;
}

.one
{
    border:2px solid black;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

#a1
{
    border: 1px solid blue;
    margin-top: 2px;
}

#b1
{
    border: 1px solid violet;
    margin-top: 2px;
}

#c1
{
    border: 1px solid orange;
    margin-top: 2px;
}

.two
{
    border: 1px solid black;
    padding: 5px;
    width: 700px;
    margin: 10px;
    text-align: center;
}

#a2
{
    border: 1px solid blue;
    padding: 1px;
}

.twoa
{
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

.b2
{
    border: 1px solid black;
    height:auto;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.img
{
    border: 1px solid green;
    
}

.name
{
    border: 1px solid blue;
}

.sub
{
    border: 1px solid purple;
}

.three
{
    border: 2px solid black;
    display: flex;
    align-content: center;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    width:160px;
    height: 130px;
    justify-content: space-between;
}

#a3
{
    border: 1px solid black;
    padding: 10px;
    height: 50px;
    width:60px;
    justify-content: center;
}

.img
{
    border:1px solid green;  
}

.b3
{
    border: 1px solid black;
    width:50px;
    height:100px;
    padding: 10px;
    margin-top: 2px;
    align-content: center;

}


.quote
{
    border: 1px solid violet;
}

.Author
{
    border: 1px solid purple;
}

.Text
{
    border: 1px solid purple;
}

.four
{
    border: 2px solid black;
    padding: 10px;
    height: 250vh;
    width: 300px;
    margin-top: 10px;
    margin-left: 10px;
}

#aa4
{
    border: 1px solid blue;
    padding: 10px;
    margin-bottom: 10px;

    justify-content: center;
}

.a4
{
   border: 1px solid black;
   padding:10px;
}

.b4, .b5, .b6, .b7 
{
    border: 1px solid black;
    padding:10px;
    margin-top: 10px;
}

.img, .i5, .i6, .i7
{
    border: 1px solid green;
    padding: 5px;
}

.heading, .h5, .h6, .h7
{
    border: 1px solid blue;
    padding: 5px;
}

.text, .t5, .t6, .t7
{
    border: 1px solid purple;
    padding: 5px;
}

.c4, .c5, .c6, .c7
{
    border: 1px solid black;
}

.d4, .d5, .d6, .d7
{
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 10px;
}

.img, .im5, .im6, .im7
{
    border: 1px solid green;
    margin-top: 5px;
    margin-right: 5px;
    content: inherit;
}

.heading, .he5, .he6, .he7
{
    border: 1px solid blue;
}

.e4, .e5, .e6, .e7
{
    border: 1px solid black;
}

.img, .img5, .img6, .img7
{
    border: 1px solid green;
}

.text, .te5, .te6, .te7
{
    border: 1px solid purple;
}




