body
{
    border: 3px solid black;
    height: 600vh;
    padding: 10px;
    display: flex
    flex: column;
}

header
{
    border: 2px solid black;
    height: 50px;
    margin-bottom: 10px;
}

header div
{
    border: 1px solid grey;
    /*height:inherit;*/
    display: flex;
    padding: 5px;
    justify-content: space-between;
}

header div div
{
    border: 1px solid red;
    border-radius: 5px;
    width: 250px;
}

header div div a
{
    border: 1px solid green;
    width: inherit;
    display: flex;
    justify-content: space-between;
}
main
{
    border:2px solid black;
    height: 100vh;
    display: flex;
    flex: row;
    flex: auto;
}

.one
{
    border:2px solid black;
    padding: 10px;
    width: 300px;
    margin: 10px;
    text-align: center;
}

#a1
{
    border: 1px solid blue;
}

#b1
{
    border: 1px solid blueviolet;
}

#c1
{
    border: 1px solid orange;
}

.two
{
    border: 1px solid black;
    padding: 10px;
    width: 300px;
    margin: 10px;
}

#a2
{
    border: 1px solid blue;
}

#aa2
{
    border: 1px solid blue;
    padding: 10px;
}

#b2
{
    justify-content: space-between;
}
.img
{
    border: 1px solid green;
}

.name
{
    border: 1px solid blue;
}

.subtitle
{
    border: 1px solid purple;
}
